@import url(https://fonts.googleapis.com/css?family=Rancho&effect=shadow-multiple);
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
html,body{
    /* font-family: "Oswald",; */
    font-family: 'Tangerine';
    /* font-size: 48px; */

}
.background{
    background-image: url(./imagestimer/mountain.jpg);
    height: 100vh;
    width: 100%;
    background-size: cover;
    background-repeat: no-repeat;


}
.container{
    display: grid;
    place-items: center;
    height: 80%; /*here you can see 100vh also instead of 80% */

}
.container h1{
    font-size: 3.5rem;
    text-shadow: 4px 4px 4px #aaa;
}
.settings{
    display: flex;
    position: absolute;
    bottom: 20px;
    right:10px;
    gap: 15px;
    align-items: center;

}
.settings-content{
    display:flex;
    gap:15px;
}
.settings .fa-cog{
    color: white;
    font-size: 2.5rem;
}

.settings input{
    padding:9px;
    font-size: 1rem;
    border-radius: 5px;
    border: none;

}
.settings-content .btn-primary{
    padding: 10px;
    background-color: green;
    color: white;
    font-size: 1rem;
    border-radius: 5px;
    border: none;

}
.hide{
    display:none;
}
.time-container
{
    display: flex;
    gap:2rem;
    text-align: center;
    align-items: center;
    justify-content: center;
    margin-top: 28px;
}
.time-container h2{
    line-height: 40px;
    font-size: 30px;
}
.time-container h2 div{
    font-size: 40px;
    color: white;

}
